<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <h2>Admin Dashboard</h2>
        <div class="mb-4">
            <h4>Add New User</h4>
            <form action="/admin/add-user" method="POST" class="row g-3">
                <div class="col-auto">
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="col-auto">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="col-auto">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="adminCheck" name="admin">
                        <label class="form-check-label" for="adminCheck">
                            Admin
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Add User</button>
                </div>
            </form>
            <form action="/admin/add-book" method="POST" class="row g-3">
                <div class="col-auto">
                    <input type="text" name="title" class="form-control" placeholder="Title" required>
                </div>
                <div class="col-auto">
                    <input type="text" name="author" class="form-control" placeholder="Author" required>
                </div>
                <div class="col-auto">
                    <input type="text" name="category" class="form-control" placeholder="Category" required>
                </div>
                <div class="col-auto">
                    <input type="text" name="image" class="form-control" placeholder="ImageURL" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Add Book</button>
                </div>
            </form>
            <a href="/login" class="btn btn-primary">Go To Login</a>
        </div>
        <div>
            <h4>User List</h4>
            <ul class="list-group">
                <% users.forEach(user=> { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= user.username %> - <%= user.admin ? 'Admin' : 'User' %>
                                <span>
                                    <button type="button" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal"
                                        data-bs-target="#editUserModal-<%= user._id %>">
                                        Edit
                                    </button>
                                    <div class="modal fade" id="editUserModal-<%= user._id %>" tabindex="-1"
                                        role="dialog" aria-labelledby="editUserModalLabel-<%= user._id %>"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editUserModalLabel-<%= user._id %>">Edit
                                                        User</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/admin/update-user/<%= user._id %>?_method=PUT"
                                                        method="POST">
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input type="text" class="form-control" name="username"
                                                                value="<%= user.username %>" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="email" class="form-control" name="email"
                                                                value="<%= user.email %>" required>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="admin"
                                                                id="adminCheck-<%= user._id %>" <%=user.admin
                                                                ? 'checked' : '' %>>
                                                            <label class="form-check-label"
                                                                for="adminCheck-<%= user._id %>">
                                                                Admin
                                                            </label>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save
                                                                changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="/admin/delete-user/<%= user._id %>?_method=DELETE" method="POST"
                                        style="display: inline;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </span>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div>
            <h4>Book List</h4>
            <ul class="list-group">
                <% books.forEach(book=> { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= book.title %>
                            <span>
                                <button type="button" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal"
                                    data-bs-target="#editBookModal-<%= book._id %>">
                                    Edit
                                </button>
                                <div class="modal fade" id="editBookModal-<%= book._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="editBookModalLabel-<%= book._id %>" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editBookModalLabel-<%= book._id %>">Edit
                                                    Book</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/admin/update-book/<%= book._id %>?_method=PUT"
                                                    method="POST">
                                                    <div class="form-group">
                                                        <label>Title</label>
                                                        <input type="text" class="form-control" name="title"
                                                            value="<%= book.title %>" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Author</label>
                                                        <input type="text" class="form-control" name="author"
                                                            value="<%= book.author %>" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Category</label>
                                                        <input type="text" class="form-control" name="category"
                                                            value="<%= book.category %>" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>ImageURL</label>
                                                        <input type="text" class="form-control" name="image"
                                                            value="<%= book.image %>" required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save
                                                            changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="/admin/delete-book/<%= book._id %>?_method=DELETE" method="POST"
                                    style="display: inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </span>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>
    <footer>
        <h2 class="text-center">Islam Zhaslanuly SE-2202</h2>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>